body {
   margin: 0;
   background-color: black;
   font-family: Arial;
   overflow: hidden;
}

.generalMenu {
   position: fixed;
   display: flex;
   width: 100%; height: 100%;
   align-items: center;
   justify-content: center;
   background-color: black;
   webkit-user-select: none;
   user-select: none;
}

.generalMenu div {
   text-align: center;
   color: white;

}

.title {
   font-size: 25px;
   font-weight: bold;
}

.bold {
   font-weight: bold;
}

.gameMenu {
   position: fixed;
   overflow: auto;
   display: flex;
   top: 0; right: 0; bottom: 0; left: 0; /*tailwind uses inset-0*/
   justify-content: center;
   align-items: center;
   webkit-user-select: none;
   user-select: none;
}

.gameMenu div {
   display: flex;
   max-width: 28rem;
   width: 100%;
   padding: 30px;
   justify-content: center;
   align-items: center;
   background-color: white;
   text-align: center;
}

.gameMenu div div { /*not the most elegant solution, but it works*/
   display: inline-block;
}

.gameMenu button {
   padding: 10px 45px;
   width: 100%;
   background-color: rgb(255, 0, 80);
   font-size: 15px;
   color: white;
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   border: none;
   border-radius: 30px;
}

.gameMenu button:hover {
   background-color: rgb(210, 0, 40);
}

.gui {
   position: fixed;
   display: flex;
   min-width: 125px;
   margin: 20px;
   padding: 5px 10px;
   background-color: rgba(65,65,65,0.45);
   font-size: 15px;
   color: white;
   webkit-user-select: none;
   user-select: none;
}

.debugMenu {
   position: fixed;
   display: flex;
   top: 0; right: 0;
   width: 350px; height: 100%;
   padding: 10px;
   color: white;
   background-color: rgb(65,65,65);
   background-color: rgba(65,65,65,0.45);
   webkit-user-select: none;
   user-select: none;
}

.txtButton {
   color: rgb(255, 0, 80);
}

.txtButton:hover {
   color: rgb(210, 0, 40);
}

.txtButton.back {
   font-size: 15px;
   margin-top: 25px;
}

#gameVersion {
   position: fixed;
   display: flex;
   bottom: 0;
   width: 100%;
   margin: 10px 0;
   padding-left: 30px;
   font-size: small;
   color: white;
   webkit-user-select: none;
   user-select: none;
}

#scoreLogWrapper {
   width: 200px;
   height: 400px;
   overflow: auto;
   padding: 5px;
   border: 2px solid white;
}

#feedbackMenu { /*same as gameMenu, but i dont want to use it*/
   position: fixed;
   display: flex;
   top: 0; right: 0; bottom: 0; left: 0; /*tailwind uses inset-0*/
   justify-content: center;
   align-items: center;
   webkit-user-select: none;
   user-select: none;
}

#feedbackMenu div {
   padding: 20px;
   margin: 10px;
   background-color: white;
   text-align: center;
}
